src/conf/xml-resources/web-service-references/maintainers/wsdl/localhost_8080/maintainers/maintainers.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services/" name="maintainers">
<types>
<xsd:schema>
<xsd:import namespace="http://services/" schemaLocation="http://localhost:8080/maintainers/maintainers?xsd=1"/>
</xsd:schema>
</types>
<message name="get">
<part name="parameters" element="tns:get"/>
</message>
<message name="getResponse">
<part name="parameters" element="tns:getResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="insert">
<part name="parameters" element="tns:insert"/>
</message>
<message name="insertResponse">
<part name="parameters" element="tns:insertResponse"/>
</message>
<message name="all">
<part name="parameters" element="tns:all"/>
</message>
<message name="allResponse">
<part name="parameters" element="tns:allResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<portType name="maintainers">
<operation name="get">
<input wsam:Action="http://services/maintainers/getRequest" message="tns:get"/>
<output wsam:Action="http://services/maintainers/getResponse" message="tns:getResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://services/maintainers/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://services/maintainers/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="insert">
<input wsam:Action="http://services/maintainers/insertRequest" message="tns:insert"/>
<output wsam:Action="http://services/maintainers/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="all">
<input wsam:Action="http://services/maintainers/allRequest" message="tns:all"/>
<output wsam:Action="http://services/maintainers/allResponse" message="tns:allResponse"/>
</operation>
<operation name="update">
<input wsam:Action="http://services/maintainers/updateRequest" message="tns:update"/>
<output wsam:Action="http://services/maintainers/updateResponse" message="tns:updateResponse"/>
</operation>
</portType>
<binding name="maintainersPortBinding" type="tns:maintainers">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="get">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="all">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="maintainers">
<port name="maintainersPort" binding="tns:maintainersPortBinding">
<soap:address location="http://localhost:8080/maintainers/maintainers"/>
</port>
</service>
</definitions>