src/conf/xml-resources/web-service-references/Users/wsdl/localhost_42724/Users/Users.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://maintainers.services/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://maintainers.services/" name="Users">
<types>
<xsd:schema>
<xsd:import namespace="http://maintainers.services/" schemaLocation="http://localhost:42724/Users/Users?xsd=1"/>
</xsd:schema>
</types>
<message name="get">
<part name="parameters" element="tns:get"/>
</message>
<message name="getResponse">
<part name="parameters" element="tns:getResponse"/>
</message>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="insert">
<part name="parameters" element="tns:insert"/>
</message>
<message name="insertResponse">
<part name="parameters" element="tns:insertResponse"/>
</message>
<message name="all">
<part name="parameters" element="tns:all"/>
</message>
<message name="allResponse">
<part name="parameters" element="tns:allResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<portType name="Users">
<operation name="get">
<input wsam:Action="http://maintainers.services/Users/getRequest" message="tns:get"/>
<output wsam:Action="http://maintainers.services/Users/getResponse" message="tns:getResponse"/>
</operation>
<operation name="delete">
<input wsam:Action="http://maintainers.services/Users/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://maintainers.services/Users/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="insert">
<input wsam:Action="http://maintainers.services/Users/insertRequest" message="tns:insert"/>
<output wsam:Action="http://maintainers.services/Users/insertResponse" message="tns:insertResponse"/>
</operation>
<operation name="all">
<input wsam:Action="http://maintainers.services/Users/allRequest" message="tns:all"/>
<output wsam:Action="http://maintainers.services/Users/allResponse" message="tns:allResponse"/>
</operation>
<operation name="update">
<input wsam:Action="http://maintainers.services/Users/updateRequest" message="tns:update"/>
<output wsam:Action="http://maintainers.services/Users/updateResponse" message="tns:updateResponse"/>
</operation>
</portType>
<binding name="UsersPortBinding" type="tns:Users">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="get">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="all">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Users">
<port name="UsersPort" binding="tns:UsersPortBinding">
<soap:address location="http://localhost:42724/Users/Users"/>
</port>
</service>
</definitions>